.cardContainer{
width: 20rem;
height: 30rem;
border: 5px solid black;
   
}


.arrowCardInfo{

    background: none;
    border: none;
}

.tokemItems{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.classes{
    display: flex
}