.containerCard {
  background: linear-gradient(
    to top,
    #e0e0e0 0%,
    #e0e0e0 50%,
    #efefef 50%,
    #efefef 100%
  );
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(132, 130, 130);
  padding: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgCard {
  max-width: 4rem;
}

.pokemonNumber {
  display: flex;
  font-size: 0.5rem;
  margin-left: 4rem;
}

.pokemonName {
  font-size: 0.9rem;
  margin: none;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}
