* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  background-color: #dc0a2d;
  height: 100vh;
}

main {
  width: calc(100% - 8px);

  background-color: #ffff;
  border-radius: 15px;

  margin: 1.8rem 4px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  padding: 20px;
}
